
h1 {
    color: green;
    text-align: center;
}

h2 {
    color: crimson;
}

h3 {
    color: black;

h4 {
    color: #fff;
}


.container	{
	width: 60%;
	margin: auto;
}
 .container h1 {
 	font-weight: 800;
 	text-align: center;
 }